.post {
    background: var(--primary-color);
    width: 38rem;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    
}

.postContent img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: 0px 0;

    border: 1px solid black;
}

.postContent video {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;


    border: 1px solid black;

}

.postContent p {
    margin-top: 10px;
}

p {
    font-size: 16px;
    color: var(--text-color);
    line-height: 24px;
}

.author {
    color: var(--accent-color);
    font-weight: 700;
}

.credentials {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 0;
}

.comments {
    margin-top: 15px;
}

.commentsCount {
    cursor: pointer;
    background-color: var(--primary-light);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.commentsCount:hover {
    background-color: var(--primary-lighter);
}

.commentIcon {
    width: 20px;
    height: auto;
    fill: var(--text-color);
}

.ups {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    justify-self: center;
}

.ups svg {
    fill: var(--accent-color);
    cursor: pointer;
}

.ups svg:hover {
    transform: scale(1.15);
    transition: all 0.2s;
}

.ups p {
    font-weight: 700;
    font-size: 13px;
}


.postBody {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: start;
    gap: 20px;
    padding-right: 15px;
}

.postBody span {
    font-weight: 700;
}

