* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #151e3f;
  --secondary-color: white;
  --accent-color: #4f98ff;
  --gradient-start: #4451a573;
  --gradient-end: #1A1F3F;
  --text-color: #FFF;
  --primary-light: #0e294e;
  --primary-lighter: #1f488290;
  --selected-color: #32578b;
  --background-color: #06070f;
}

.lightMode {
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --accent-color: #3a8cff;
  --gradient-start: #ffffff;
  --gradient-end: #d5d5d5;
  --text-color: #3a3a3a;
  --primary-light: #ffffff;
  --primary-lighter: #c3c7cb;
  --selected-color: #a6bbd9;
  --background-color: #808891;
}


body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}